<h1>Welcome to Code Babel</h1>
<h2>Share what you know, and learn new code with Code Bably</h2>

<p>Create code snippet solutions to a problem in one programming language, and see how others solve it in other languages. </p>
