<div class="welcome">
  <h1>Welcome to Babel Code!</h1>
  <p>Create code snippet solutions to a problem in one programming language, and see how others solve it in other languages. </p>
</div>

<div class="welcome">
  <h2>Share your code in your language and learn new languages from others!</h2>
</div>

