<form action="/votes" method="POST" class="vote">
  <input type="hidden" name="vote" value=<%= val %>>
  <input type="hidden" name="votable_id" value= "<%= snippet_id %>" >
  <input type="hidden" name="votable_type" value=<%= snippet_class %>>
  <input type="submit" value=<%= direction %>>
</form>