<div class="tab-box">

  <ul class="tab-nav">
    <button class ="recent-button">Recent Posts</button>
    <button class="ruby-button">Ruby Posts</button>
    <button class="javascript-button">JavaScript Posts</button>
  </ul>

  <div class="recent-posts home-snip-container">
    <h2>Recent Posts</h2>
    <% @recent.each do |original_snippet| %>
      <%= render partial: 'snippet', locals: {original_snippet: original_snippet } %>
    <% end %>
  </div>

  <div class="ruby-posts home-snip-container">
    <h2>Ruby Posts</h2>
    <% @ruby_entries.each do |original_snippet| %>
      <%= render partial: 'snippet', locals: {original_snippet: original_snippet } %>
    <% end %>
  </div>

  <div class="javascript-posts home-snip-container">
    <h2>JavaScript Posts</h2>
    <% @js_entries.each do |original_snippet| %>
      <%= render partial: 'snippet', locals: {original_snippet: original_snippet } %>
    <% end %>
  </div>
</div>
