/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'PT Serif', serif;
	background-color: #CEFFFB;
	color: #2E2C25;
}
code {
	margin: 8px;
	padding: 15px;
	font-size: 1.6em;
	background-color: #FFFBE7;
	border-radius: 8px
}
a {
	text-decoration: none;
}
a:visited {
	color: #403D33;
}
a:hover {
	color: #B299AF;
}
nav {
	background-color: #FFFBE7;
	margin: 5px;
	display: inline;
}

li {
	list-style-type: none;
	display: inline;
	padding: 16px;
}
h1 {
	padding: 5px;
	margin:5px;
}

.reply-snip {
	padding-left: 30px;
	font-size: 12px;
}

.fun-box {
	height: 20px;
	width: 20px;
	border-radius: 6px;
	background-color: #FFFBE7;
	display: inline-block;
}
p {
	padding: 6px;
	padding-left: 12px;
}
