/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Source Code Pro', serif;
	background-color: #F5FFFF;
	color: #2E2C25;
}
a {
	text-decoration: none;
}

nav {
	background-color: #7B7F7F;
	width: auto;
	height: auto;
	margin: -10px;
	margin-bottom: 15px;
}

nav h1{
	display: inline;
	padding-left: 15px;
}
nav a {
	color: #FFF;
}
.nav li {
	list-style-type: none;
	display: inline;
	padding-right: 60px;
}
h1 {
	padding: 2px;
	margin:5px;
	font-size: 2em;
}

.fun-box {
	height: 20px;
	width: 20px;
	border-radius: 6px;
	background-color: #69F5E0;
	display: inline-block;
	padding:5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
p {
	padding: 2px;
	padding-left: 12px;
}
#login-div {
	height: 400px;
	text-align: center;
	width: 150px;
	display: inline-block;
	padding-right: 12%;
	padding-left: 12%;
	opacity: 0.6;
}
#signup-div {
	height: 350px;
	text-align: center;
	width: 200px;
	display: inline-block;
	padding-left: 12%;
	padding-right: 12%;
	opacity: 0.6;
}
.button, input.reply-button {
	background-color: #7B7F7F;
	border: none;
	font-size: 1em;
	border-radius: 3px;
	color: #F5FFFF;
	display: inline-block;
	height: auto;
	padding: 4px;
	margin: 4px;
	cursor: pointer;
}
.reply-button{
	background-color: #7B7F7F;
	border: none;
	font-size: .4em;
	border-radius: 3px;
	color: #F5FFFF;
	display: inline-block;
	float:absolute;
	cursor: pointer;
}

.welcome {
	margin: 70px;
	padding-left: 25px;
	border-radius: 20px;
	color: #F5FFFF;
	background-color: #7B7F7F;
	opacity: .5;
}
.welcome h1 {
	padding: 20px;
}
.welcome h2 {
	padding: 8px;
	text-align: center;
}
.welcome p {
	padding:28px;
	padding-left: 25px;
	padding-right: 15px;
}
.create-snip{
	width: 85%;
	border:2px solid black;
	margin-left: 150px;
}
input{
	border-radius: 10px;
	padding: 5px;
	margin-left: 20px;
}

textarea {
	color: black;
	border-radius: 20px;
	padding: 10px;
	margin-left: 20px;
	border-color: #7B7F7F;
	width: 750px;
	height: 150px;
}
.reply-snip {
	background-color: #A0A5A5;
	padding-bottom: 25px;
	color: white;
	margin-left: 150px;
}
pre {
	background-color: #7B7F7F;
	border:none;
	width: 70%;
	height: auto;
	color: #F5FFFF;
	border-radius: 20px;
	padding: 20px;
	margin-left: 20px;
}
ul.li {
	display: inline;
}
.orig-snip {
	width: 95%;
	height: auto;
	display: inline-block;
}

.orig-snip ul li {
	list-style-type: none;
}

#original_snippet_language_id, #reply_snippet_language_id {
	margin: 8px;
	margin-left: 22px;
	color: black;
	font-size: 1em;
	border: none;
	opacity: .85;
	display: inline-block;
}
.tab-box ul li{
  list-style-type: none;
}
.tab-box a{
	color: black;
}
a:hover {
	color: #69F5E0;
}
.vote-btn {
	float:left;
	text-align: center;
	margin-right: auto;
	margin-left:auto;
	border-radius: 15px;
	color: #7B7F7F;
	height: 300px;
	margin-left: -90px;
	margin-top: 40px;
	opacity: .7;
}
.vote-btn .button {
 	margin-left: auto;
 	margin-right: auto;
 	width: 52px;
}

.language-btn {
	border-radius: 20px;
	font-size: 1em;
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #7B7F7F;
	cursor: pointer;
}

.create-reply {
	width: 80%;
	margin: auto;
}

.create-reply h3 {
	font-size: 1.3em;
}
.button:hover {
	background-color: black;
}

.arrow-up {
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 25px solid black;

	width: 0;
	height: 0;
	cursor: pointer;
	margin-left: 5px;
}

.arrow-down {
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid black;

	width: 0;
	height: 0;
	cursor: pointer;
	margin-left: 5px;
}

.home-snip-container {
	max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.home-snippet-box {
	border-bottom: 1px solid rgba(228, 229, 233, 0.96);
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.home-snippet-box p {
	padding: 0px;
}