<!DOCTYPE html>
<html>
<head>
  <title>BabelCode</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<h1><a href="/">Babel Code</a></h1>
<nav>
<% if session[:id] %>
	<a href="/original_snippets/new">New Code snippets</a>
  <a href="/logout">Log Out</a>
<% else %>
  <a href="/login">Login/Sign Up</a>
<% end %>
</nav>
<body>

<%= yield %>



</body>
</html>
