<!DOCTYPE html>
<html>
<head>
  <title>BabelCode</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<h1><a href="/">Babel Code</a></h1>
<nav><ul>
<% if session[:id] %>
	<li><a href="/original_snippets/new">New Code Snippet</a></li>
	<li><a href="/original_snippets">Code Snippets</a></li>
  <li><a href="/logout">Log Out</a></li>
<% else %>
  <li><a href="/login">Login/Sign Up</a></li>
<% end %>
</ul></nav>
<body>

<%= yield %>



</body>
</html>
