<!DOCTYPE html>
<html>
<head>
  <title>BabelCode</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if session[:id] %>
  <a href="/logout">Log Out</a>
<% else %>
  <a href="/login">Login/Sign Up</a>
<% end %>

</body>
</html>
